extends ../../layouts/sign

block content
  h5 Create account

  form
    .form-group.input-group-lg
      input.form-control(type='text' placeholder='Firstname' required='' autofocus='')
    .form-group.input-group-lg
      input.form-control(type='text' placeholder='Lastname' required='')
    .form-group.input-group-lg
      input.form-control(type='email' placeholder='Email' required='')
    .form-group.input-group-lg
      input.form-control(type='password' placeholder='Password' required='')
    .form-group.input-group-lg
      #recaptcha-container
    button.btn.btn-primary.btn-lg.btn-block Register
    hr
    p.text-muted Already have an account?
    a.btn.btn-outline-light.btn-sm(href='/account/login') Sign in!
